
<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="javascript:void(0)">
            Loghawk Team
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            About Us
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            Blog
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{test | date: 'yyyy'}}, Designed by
      <a href="javascript:void(0)">Loghawk</a>.
    </div>
  </div>
</footer>
