<section class="login-home">
  <div class="container">
    <div class="login">
          <div class="card">
            <div class="card-body">
              <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
                <div class="row">
                  <div class="col-md-12 mb-3">
                      <img src="../../assets/img/logo.jpg" class="img-fluid" alt="" />
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Username</label>
                      <input type="text" class="form-control" required ngModel placeholder="Username" name="userName" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input name="password" id="password" type="password" required ngModel class="form-control" placeholder="Password" />
                    </div>
                  </div>
                  <div class="col-md-12 mt-4">
                    <div class="form-group text-center">
                        <button [disabled]="loginForm.invalid" type="submit" class="btn btn-login">Login</button>
                    </div>
                  </div>
                </div>
                
              </form>
        </div>
      </div>
    </div>
  </div>
</section>