<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header row d-flex align-items-center justify-content-between">
         <div class="col-8">
          <h4 class="card-title">Log List</h4>
         </div>
         <div class="col-4">
          <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search"/>
          </div>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table datatable class="table">
              <thead>
                <th >
                  Name
                </th>
                <th>
                  Message
                </th>
                <th>
                  Created At
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let eachItem of statsData | searchPipe: searchText">
                  <td >
                    {{eachItem?.Tag?.Name}}
                  </td>
                  <td >
                    {{eachItem?.msg}}
                  </td>
                  <td >
                    {{eachItem?.CreatedAt}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>