
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between">
          <h4 class="card-title">Log List</h4>
          <!-- <button type="button" [routerLink]="['/tags-form']" class="btn btn-primary">Add</button> -->
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table  class="table">
              <thead>
                <th >
                  Name
                </th>
                <th>
                  Description
                </th>
                <th>
                  Tag
                </th>
                <th>
                 Slack Url 
                </th>
               
              </thead>

              <tbody>
                <tr>
                  <td >
                    Name
                  </td>
                  <td>
                    Description
                  </td>
                  <td>
                    Tag
                  </td>
                  <td>
                   Slack Url 
                  </td>
                  
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
