
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Simple Table</h4>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <th>
                  ID
                </th>
                <th>
                  Tag
                </th>
                <th>
                  SlackUrl
                </th>
                <th>
                  Description 
                </th>
                <th>
                  Action
                </th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    11
                  </td>
                  <td>
                    Niger
                  </td>
                  <td>
                    Oud-Turnhout
                  </td>
                  <td>
                    $36,738
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <button type="button" class="btn btn-primary btn-sm mr-1"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                      <button type="button" class="btn btn-danger btn-sm ml-1"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>
                    11
                  </td>
                  <td>
                    Niger
                  </td>
                  <td>
                    Oud-Turnhout
                  </td>
                  <td>
                    $36,738
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <button type="button" class="btn btn-primary btn-sm mr-1"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                      <button type="button" class="btn btn-danger btn-sm ml-1"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>
                    11
                  </td>
                  <td>
                    Niger
                  </td>
                  <td>
                    Oud-Turnhout
                  </td>
                  <td>
                    $36,738
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <button type="button" class="btn btn-primary btn-sm mr-1"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                      <button type="button" class="btn btn-danger btn-sm ml-1"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                  </td>
                </tr>
              
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
